@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-VariableFont_wght.ttf') format('truetype-variations'); /* Используйте format('truetype-variations') */
    font-weight: 100 900; /* Диапазон доступных толщин для Figtree (от Light до Black) */
    font-style: normal;
    font-display: swap; /* Рекомендуется для лучшего опыта пользователя */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #D5E1EF;
}

.card {
    display: flex;
    width: 320px;
    height: 499px;
    background-color: white;
    border-radius: 20px;
}

.content {
    padding: 16px;
}

.photo {
    margin-bottom: 24px;
}
.photo img {
    display: flex;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.text {
    width: 100%;
    height: 131px;
    text-align: center;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #1F314F;
}

p {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #68778D;
}